In [1]:
## prevent underfitting, use a model enough to complicate
## -> prevent overfitting, use a Ridge model (L2 regularization)

## import modules
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures

from math import sqrt

import pandas as pd
import numpy as np

In [3]:
## read dataset
insurance_df = pd.read_csv('data/insurance.csv')
insurance_df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
## one-hot encoding for categorical data
insurance_df = pd.get_dummies(insurance_df, columns=['sex', 'smoker', 'region'])

In [5]:
X = insurance_df.drop(['charges'], axis=1)
X

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,0,0,1,0,0,0,1
1,18,33.770,1,0,1,1,0,0,0,1,0
2,28,33.000,3,0,1,1,0,0,0,1,0
3,33,22.705,0,0,1,1,0,0,1,0,0
4,32,28.880,0,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,0,1,1,0,0,1,0,0
1334,18,31.920,0,1,0,1,0,1,0,0,0
1335,18,36.850,0,1,0,1,0,0,0,1,0
1336,21,25.800,0,1,0,1,0,0,0,0,1
1337,61,29.070,0,1,0,0,1,0,1,0,0

In [6]:
## prepare polynomial features and data
polynomial_transformer = PolynomialFeatures(4)
polynomial_features = polynomial_transformer.fit_transform(X.values)
features = polynomial_transformer.get_feature_names(X.columns)

In [7]:
polynomial_features.shape

(1338, 1365)

In [8]:
len(features)

1365

In [9]:
## training, test set
X = pd.DataFrame(polynomial_features, columns=features)
y = insurance_df[['charges']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=5)

In [10]:
## make Ridge model
model = Ridge(alpha=0.01, max_iter=2000, normalize=True)
model.fit(X_train, y_train)

Ridge(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=2000,
      normalize=True, random_state=None, solver='auto', tol=0.001)

In [11]:
## test model's performance
y_train_predict = model.predict(X_train)
mse = mean_squared_error(y_train, y_train_predict)

print("Performance at training set")
print("---------------------------")
print(f'RMSE: {sqrt(mse)}')
print()

y_test_predict = model.predict(X_test)
mse = mean_squared_error(y_test, y_test_predict)

print("Performance at test set")
print("---------------------------")
print(f'RMSE: {sqrt(mse)}')

Performance at training set
---------------------------
RMSE: 4561.665097523852

Performance at test set
---------------------------
RMSE: 4692.427560339698